<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:3000/test1">
    <input type="button" value="곱하기">
    </a>
    <a href="http://localhost:3000/test2">
    <input type="button" value="사칙연산">
    </a>
</body>
</html>