<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <h2>결과</h2>
        <table>
                <p >더하기</p>
                <p ><%= data.num_1 %></p>
                <p >빼기</p>
                <p><%= data.num_2 %></p>
                <p >곱하기</p>
                <p ><%= data.num_3 %></p>
                <p>나누기</p>
                <p ><%= data.num_4 %></p>
        </table>
         <button TYPE="submit"VALUE="전송">전송</button>
        </div>
    </FORM>
</body>
</html>