<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <FORM action="/result2" method="post">
        <h2>사칙연산</h2>
        <table>
                <p >더하기</p>
                <p ><input type="number" name="num21"> + <input type="number" name="num22"></p>
                <p >빼기</p>
                <p><input type="number" name="num31"> - <input type="number" name="num32"></p>
                <p >곱하기</p>
                <p ><input type="number" name="num41"> * <input type="number" name="num42"></p>
                <p>나누기</p>
                <p ><input type="number" name="num51"> / <input type="number" name="num52"></p>
        </table>
         <button TYPE="submit"VALUE="전송">전송</button>
        </div>
    </FORM>
</body>
</html>