<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <FORM action="/result" method="post">
        <h2>주문하기</h2>
        <table>
                <td >성함</td>
                <td ><input type="text" name="name"></td>
                <td >상품명</td>
                <td ><input type="text" name="product"></td>
        </table>
         <button TYPE="submit"VALUE="전송">전송 </button>
        </div>
    </FORM>
</body>
</html>