<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type="text/css" href="board_write_main.css">
</head>
<body>
    <FORM action="/result" method="get">
    <h2 id = "board_title"> 자유게시판</h2>
    <div id = "write_title"><h2>글쓰기</h2></div>
    <table>
        <tr id = "name">
            <td class="col1">이름</td>
            <td class="col2"><input type="text" name="name1"></td>
        </tr>
        <tr id = "subject">
            <td class="col1">제목</td>
            <td class="col2"><input type="text" name="title1"></td>
        </tr>
        <tr id = "content">
            <td class="col1">내용</td>
            <td class="col2"><textarea name="content1"></textarea></td>
        </tr>
        <tr id = "upload">
            <td class="col1">파일</td>
            <td class="col2"><input type="text"><input type="file"></td>
        </tr>
    </table>
     <button TYPE="submit" src="1.PNG" VALUE="전송" >  <img src="1.PNG"> </button>
    </div>
</FORM>
</body>
</html>
